# Define a generator that returns an Iterable of {{ method.requestMessage.name }} objects.
>>> def request_generator():
        # Initialization code here.
        while True:
            # Parameters here can be set as arguments to the generator.
            request = {{component}}.{{ method.requestMessage.name }}({% if
	    method.requestMessage.params | length == 0 %}){% else %}{% for param in method.requestMessage.params %}
                {{ param.name }}=<{{ param.type }}>,{% endfor %}
            ){% endif %}
            yield request
            # Do things between iterations here.
>>> request_iterable = request_generator()
